@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif, monospace;
	@apply bg-neutral-950;
}

/* 
Rojo Sangre (Acento): (Para bordes, botones o enlaces al pasar el mouse).
	red-950

Negro/Carbón (Fondos sólidos)
	neutral-950

Gris Hueso (Texto principal)
	neutral-200

Gris Ceniza (Texto secundario/metadatos)
	neutral-400
 */
